header {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 50%;
}
.header-image {
	height: 70%;
	width: auto;
	transform: translate(-60%, 10%);
}
.header-logo {
	height: 20%;
	top: 0;
	width: auto;
}
