body {
	background-color: #111111;
	color: white;
	font-family: sans-serif;
	margin: 0;
}

button {
	background-color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	transition: all 0.2s;
	height: 40px;
}

.header-logo img {
	margin-left: 20px;
	margin-top: 10px;
	width: 70%;
}

.movieContainer {
	margin-right: 70px;
	width: 200px;
	margin-left: 5px;
	color: #111111;
}

.movieContainer img {
	border-radius: 10px;
	width: 240px !important;
	height: 340px !important;
}

.movieContainer img::after {
	background-image: url('assets/logocard.png');
	background-position: center;
	background-size: cover;
	content: attr(alt);
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 240px !important;
	height: 340px !important;
	/* background: rgba(0, 0, 0, 0.8); */
	color: #0a0a0a;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	outline: 2px solid #000000;
	transform: translateY(-20px);
}

.movieContainer img:not([alt])::after {
	content: 'Image not available';
}

.movieContainer:hover img {
	outline: 2px solid #ffffff;
}

.arrow {
	opacity: 0.5;
	border-style: solid;
	border-width: 0 5px 5px 0;
	display: inline-block;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-55%, -50%);
	width: 20px;
}

.arrow.left {
	border-color: #ffffff;
	left: 50%;
	transform: translate(-50%, -50%) rotate(135deg);
}

.arrow.right {
	border-color: #ffffff;
	right: 50%;
	transform: translate(50%, -50%) rotate(-45deg);
}

.arrowContainer:hover > .arrow {
	opacity: 1;
}

/* Modal */

.modal {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal-content {
	background-color: #222222;
	border-radius: 10px;
	margin: 5% auto;
	max-width: 1500px;
	min-height: 350px;
	padding: 30px 30px 60px 30px;
	width: 80%;
}

.modal-cover-image img {
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	float: right;
	height: 340px;
	width: 240px;
	margin-right: 120px;
	margin-top: 1%;
	background-image: url('assets/logocard.png');
	background-position: center;
	background-size: cover;
}

.modal-content h3 {
	display: inline-block;
	font-size: 24px;
}

.modal-button {
	font-size: 14px;
	margin-left: 30px;
	width: 80px;
}

.modal-movie-info {
	font-size: 15px;
	margin-left: 30px;
	margin-right: 40%;
}

.modal-content p {
	display: inline;
	line-height: 150%;
}

.genres,
strong {
	color: #a03f3f;
}

.plot {
	font-style: italic;
}

.close {
	float: right;
	font-size: 40px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	cursor: pointer;
	text-decoration: none;
}

.arrowContainer {
	background-color: #222222;
	color: white;
	font-size: 36px;
	height: 344px;
	opacity: 0;
	padding: 0;
	position: absolute;
	transition: all 0.05s ease;
	visibility: hidden;
	width: 40px;
	transform: translateY(-51.5%) scale(1);
	z-index: 0;
}

.arrowContainer.show {
	opacity: 1;

	visibility: visible;
}

.arrowContainer.left {
	left: 0;
}

.arrowContainer.right {
	right: 0;
}

.best {
	background: linear-gradient(#303030, #4d4d4d);
	height: 600px;
	display: flex;
	flex-direction: column;
}

.best-movie-title {
	font-size: 45px;
	margin-top: 200px;
	margin-left: 350px;
}

.button {
	font-size: 18px;
	width: 120px;
	margin-left: 450px;
}

.best-cover img {
	position: absolute;
	border-radius: 10px;
	float: right;
	width: 280px;
	height: 400px;
	left: 60%;
	top: 100px;
	background-image: url('assets/logocard.png');
	background-position: center;
	background-size: cover;
}

.categories {
	align-items: center;
	background: linear-gradient(#303030, #4d4d4d);
	display: flex;
	height: 600px;
	justify-content: center;
}

.container {
	width: 1200px;
}

.container h2 {
	font-size: 26px;
}

.carousel-container {
	align-items: center;
	display: flex;
	height: 430px;
	overflow: hidden;
	position: relative;
}

.carousel-content {
	bottom: -390px;
	display: flex;
	left: 0;
	position: absolute;
	top: 300px;
	transform: translateY(-50%);
	transition: all 0.7s ease;
}
