.section-carousel {
	width: 75%;
	margin: 0 auto;
	transform: translate(0, 0);
}

.ng-carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	.img {
		width: 70%;
		height: auto;
	}
}
