/* You can add global styles to this file, and also import other style files */
body {
	background: linear-gradient(to bottom, black, grey);
	// height: 100%;
	width: 105%;
	right: 0 !important;
	transform: translate(-10px) !important;
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 80;
	color: rgba(255, 255, 255, 0.349);
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img {
	position: absolute;
	margin: auto;

	height: 100%;
	width: 100%;
	inset: 0;
	border-radius: 10px;
	cursor: pointer !important;
	box-shadow: 20px 10px 15px rgb(0, 0, 0) !important;
}
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img:hover {
	opacity: 0.7;
}
.ng-image-slider .ng-image-slider-container .main .next,
.ng-image-slider .ng-image-slider-container .main .prev {
	opacity: 0.5 !important;
	border-radius: 0 !important;
	width: 3% !important;
	height: 110% !important;
	top: 0 !important;
	background-color: rgb(65, 65, 65) !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	cursor: pointer !important;
	font-size: 0 !important;
	// color: black !important;
}
.ng-image-slider .ng-image-slider-container .main .next:hover,
.ng-image-slider .ng-image-slider-container .main .prev:hover {
	opacity: 1 !important;
	background-color: rgb(43, 43, 43) !important;
	font-size: 60px !important;
}

.ng-image-slider .ng-image-slider-container .main .prev {
	transform: translate(-10px) !important;
}
.ng-image-slider .ng-image-slider-container .main .next {
	right: 0px !important;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Modal */

.modal {
	background-color: rgba(0, 0, 0, 0.925);
	padding: 30px 30px 60px 30px;
	border-radius: 10px;
	// border-radius: 3%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 20%;
	bottom: 20%;
	right: 20%;
	width: 100%;
	height: 70vh;
	width: 70vw;
	overflow: hidden;
	transform: translate(-6%, -50%);
}

.modal-content {
	background-color: #222222;
	// margin: 5vw auto;
	max-width: 1500px;
	min-height: 350px;

	width: 90%;
}

.modal-cover-image img {
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	float: right;
	height: 40vh;
	margin-right: 5%;
	margin-top: 10%;
	margin-left: 5%;
}

.modal-content h3 {
	display: inline-block;
	font-size: 32px;
}

.modal-button {
	font-size: 14px;
	margin-left: 30px;
	width: 80px;
}

.modal-movie-info {
	font-size: 18px;
	margin-left: 30px;
	margin-right: 40%;
}

p {
	font-size: 16px;
	color: aliceblue;
}

.metadata {
	font-weight: normal;
	color: aliceblue;
}

.modal-content p {
	display: inline;
	line-height: 150%;
}

strong {
	font-size: 20px;
	color: #662e2e;
}

.plot {
	font-style: italic;
}

.close {
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close {
	cursor: pointer;
	color: aliceblue;
}

.mat-mdc-dialog-content {
	max-height: 80vh !important;
	background-color: #222222;
	color: white;
}

.title {
	font-size: 2.5rem;
	font-weight: 600;
	color: #662e2e;
}
