<app-header></app-header>
<div class="carousels">
	<div
		*ngIf="isLoading"
		class="carrousel">
		<br />
		<br />
		<app-carrousel
			#bestMovies
			[title]="'Best Movies'"
			[images]="imagesBest"></app-carrousel>
		<br />
		<br />
	</div>
	<div
		*ngIf="isLoading"
		class="carrousel">
		<br />
		<br />
		<app-carrousel
			#Cat1
			[title]="titleCat1"
			[images]="imagesBestByCategory1"></app-carrousel>
		<br />
		<br />
	</div>
	<div
		*ngIf="isLoading"
		class="carrousel">
		<br />
		<br />
		<app-carrousel
			#Cat2
			[title]="titleCat2"
			[images]="imagesBestByCategory2"></app-carrousel>
		<br />
		<br />
	</div>
	<div
		*ngIf="isLoading"
		class="carrousel">
		<br />
		<br />
		<app-carrousel
			#Cat3
			[title]="titleCat3"
			[images]="imagesBestByCategory3"></app-carrousel>
		<br />
		<br />
	</div>
</div>
